In [1]:
import pandas as pd
import numpy as np
import string

np.random.seed(676)


alphabets = list(string.ascii_lowercase)

item1 = np.random.choice(list(string.ascii_lowercase), 100000)
item2 = np.random.choice(list(string.ascii_lowercase), 100000)
n_occurences = np.random.randint(1, 200, size=100000)

data = np.array([item1, item2, n_occurences]).T

df = pd.DataFrame(data=data, columns=["item1", "item2", "n_occurences"])
df = df[df["item1"] != df["item2"]]

df.head()

  item1 item2 n_occurences
0     u     q           63
1     u     f           82
2     y     z           78
3     y     g           36
4     u     o           88

## Question
Given a table of data like the following. Find the number of occurences all the items together